# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
Debug/udep.ilk
Debug/udep.log
Debug/udep.pdb
Debug/udep.tlog/CL.read.1.tlog
Debug/udep.tlog/CL.write.1.tlog
Debug/udep.tlog/cl.command.1.tlog
Debug/udep.tlog/link.command.1.tlog
Debug/udep.tlog/link.read.1.tlog
Debug/udep.tlog/link.write.1.tlog
Debug/udep.tlog/udep.lastbuildstate
udep.vcxproj.filters
udep.vcxproj
udep.v12.suo
udep.sdf
ipch/udep-4bd11935/udep-a28bc27a.ipch
udep.opensdf
Debug/vc120.idb
Debug/vc120.pdb
